
.photos{
    
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 500px;
background-color: darkcyan;
margin-bottom: 10px;
margin: 2%;
border-radius: 6px;
}

.photos img {
    width: 200px;
    margin: 0 auto;
    border-radius: 6px;
}

.photos strong{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}